<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Attila Finance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-md=4 size-md="4">
        <ion-card>
            <ion-card-header>
              <ion-card-title>
                Willkommen
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>
                Bitte logge dich ein um die App nützen zu können, du Spasst
              </ion-card-subtitle>
              <br>
              <div class="ion-margin-top"></div>
              <ion-card-subtitle class="ion-margin-top">
                Login
              </ion-card-subtitle>
              <ion-button [routerLink]="['../login']" expand="block">
                Login
              </ion-button>
        
              <ion-card-subtitle class="ion-margin-top">
                Registrieren
              </ion-card-subtitle>
              <ion-button [routerLink]="['../register']" expand="block">
                Registrieren
              </ion-button>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
